@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
  font-size: 16px;
  font-family: 'Playfair Display', serif;
}

a{
  color: #000;
  text-decoration: none;
}
  
button{
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

h1{
  text-align: center;
}

.zoneName{
  text-align: center;
}

.css-mhc70k-MuiGrid-root {
  justify-content: space-around
}

.circularLoading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profilForm{
  width: 100%;
}